services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgress://postgress:postgress@db:5432/onyx"
    depends_on:
      - db

  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: postgress
      POSTGRES_PASSWORD: postgress
      POSTGRES_DB: onyx
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
